@{
    ViewBag.Title = "Api";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="API_page">
    <div class="container mh100">
        <div class="API_block API_menu">
            <span data-info-id="Anonymous">Не требующие авторизации</span>
            <span data-info-id="Registered">Зарегистрированным</span>
            <span data-info-id="Owner">Владельцам</span>
            <span data-info-id="Manager">Менеджерам</span>
            <span data-info-id="Performer">Исполнителям</span>
        </div>
        <div class="API_block API_info">
            @Html.Partial("Api_Info/Anonymous")
            @Html.Partial("Api_Info/Registered")
            @Html.Partial("Api_Info/Owner")
            @Html.Partial("Api_Info/Manager")
            @Html.Partial("Api_Info/Performer")
        </div>
    </div>
</div>